# Dependencies
node_modules/
vendor/

# Build outputs
backend/public/build
backend/public/hot
frontend/dist/

# Environment files
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Laravel
backend/.env.backup
backend/.env.production
backend/.phpunit.result.cache
backend/Homestead.json
backend/Homestead.yaml
backend/auth.json
backend/npm-debug.log
backend/yarn-error.log
backend/.fleet
backend/storage/*.key

# Vite
backend/public/storage
